.name {
    animation: textColorFlow 7s infinite alternate;
    background-image: linear-gradient(to right, rgb(252, 66, 252), rgb(253, 67, 95), rgb(186, 90, 255), rgb(0, 194, 162), rgb(252, 66, 252));
}

.name:hover {
    animation: textColorFlow 1s infinite alternate;
}

@keyframes textColorFlow {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: 100rem;
    }
}

@media(max-width:1024px) {
    .big-text{
        font-size: 3.5rem;
    }
}
@media(max-width:768px) {
    .big-text{
        font-size: 2.5rem;
    }
}